<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sema Event</title>
    <link rel="stylesheet" href="toastify.css">
    <script src="toastify.js"></script>
</head>
<body>
    <div class="flex justify-center items-center min-h-svh">
        <div class="py-10 md:px-20 px-4 lg:w-3/5 xl:w-2/5 md:mx-auto">
            <img src="logo.svg" alt="logo event"> 
            <h1 class="pt-6">Gagnez de nouveaux clients avec WhatsApp</h1>
            <table width="100%" style="margin-top: 1rem;" >
                <tr align="left">
                  <td ><span class="text-color ml-4">Mardi, 10 Septembre 2024 à 10 Heures</span></td>
                </tr>
                <tr>
                  <td ><span class="text-color ml-4">Serena Hôtel, Douala - Cameroun</span></td>
                </tr>
              </table>
            
            <form action="#" method="post" class="mt-6" id="form-submit">
                <input type="text" name="is_promotion" value="<%= promotion %>" hidden>
                <input type="text" name="first_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Nom *" required>
                <input type="text" name="last_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Prénom *" required>
                <input type="text" name="company_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Nom de l'entreprise *" required>
                <input type="text" name="sector_of_activity" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Secteur d’activité *" required>
                <input type="text" name="district" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Quartier *" required>
                <input type="text" name="poste" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Poste *" required>
                <input type="email" name="email" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="E-mail (Professionnel)">
                <input type="text" name="phone_number_whatsapp" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Numéro de téléphone (WhatsApp) *" required>
                <select name="creneau" id="creneau" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color mb-2" required>
                    <option disabled value="" selected hidden>Choisir une plage horaire *</option>
                    <option value="09h">09h</option>
                    <option value="13h">13h</option>
                    <option value="16h">16h</option>
                </select>
                <label class="relative flex justify-start items-center group py-2 text-xl mb-4">
                    <input type="checkbox" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" id="localisation"/>
                    <span class="w-16 h-10 flex items-center flex-shrink-0 ml-4 p-1 bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-blue-400 after:w-8 after:h-8 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-6 group-hover:after:translate-x-1"></span>
                    <span class="ml-2">Récupérer ma localisation</span>
                  </label>
                <button type="submit" class="w-full py-4 md:py-6 rounded-full" id="send-form">Envoyer</button>
            </form>
            <!-- <div class="mt-8 text-center">
                <p>En vous connectant à Sema, vous acceptez nos <a href="#" class="font-bold">Conditions d'utilisation</a> et <a href="#"  class="font-bold">Notre politique de confidentialité</a>.</p>
            </div> -->
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
