<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Corporate Event</title>
    <link rel="stylesheet" href="toastify.css">
    <script src="toastify.js"></script>
</head>
<body>
    <div class="flex justify-center items-center min-h-svh">
        <div class="py-10 md:px-20 px-4 lg:w-3/5 xl:w-2/5 md:mx-auto">
            <div class="flex justify-between content-center">
                <img src="Kaeyros_Logo.png" alt="logo event" class="logo"> 
                <div class="talks">
                    <span>D&D</span>
                    <span>TALKS</span>
                </div>
            </div>
            <h1 class="pt-6">Comment les datas et la digitalisation boostent les entreprises en Afrique ?</h1>
            <table width="100%" style="margin-top: 1rem;" >
                <tr align="left">
                  <td ><span class="text-color ml-4">Mercredi, 11 Septembre 2024 à 09 Heures</span></td>
                </tr>
                <tr>
                  <td ><span class="text-color ml-4">STARLAND HÔTEL, BONAPRISO, DOUALA</span></td>
                </tr>
              </table>
            
            <form action="#" method="post" class="mt-6" id="form-submit">
                <input type="text" name="first_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Nom *" required>
                <input type="text" name="last_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Prénom *" required>
                <input type="text" name="company_name" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Nom de l'entreprise *" required>
                <input type="text" name="poste" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Poste *" required>
                <input type="email" name="email" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="E-mail (Professionnel) *" required>
                <input type="text" name="phone_number_whatsapp" class="w-full py-4 md:py-6 px-10 rounded-full input-bg-color" placeholder="Numéro de téléphone (WhatsApp) *" required>
                <button type="submit" class="w-full py-4 md:py-6 rounded-full" id="send-form">Envoyer</button>
            </form>
            <!-- <div class="mt-8 text-center">
                <p>En vous connectant à Kaeyros, vous acceptez nos <a href="#" class="font-bold">Conditions d'utilisation</a> et <a href="#"  class="font-bold">Notre politique de confidentialité</a>.</p>
            </div> -->
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
